/* SITE STYLE PALETTE */
:root {
  --background: #fff8ea;
  --accent: #d5f1e5;
  --button: #e2dbcd;
  --subtle-text: #868581;
  --hover: #FE5678;
  --border-radius: 0.3rem;
  --header-text: "Quicksand", sans-serif;
  --main-text: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  transition: ease;
}

a:hover {
  color: var(--hover);
}

/* HEADER STYLES */
.logo {
  height: 40px;
  width: 200px;
  overflow: hidden;
  object-fit: cover;
}
/* blob */
#blob {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 23vw;
  height: 90vh;
}
/* icecream image */
.hero {
  width: 50vw;
  transform: rotate(30deg);
  position: absolute;
}

.title {
  position: relative;
}

.title h1 {
  color: black;
  font-family: var(--header-text);
  font-size: 45px;
}

.title p {
  color: black;
  font-family: var(--main-text);
}

/* ZIPCODE */
#zipcode-ask {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 20px;
}

/* history container */
#zip-search-container {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-top: 10px;
}

/* zip input */
#zip {
  text-align: center;
  background: var(--accent);
  border-radius: var(--border-radius);
  border: none;
  height: 50px;
}

#zip-list {
  margin: 0;
}

/* SECTION TITLE STYLES */
.section-header {
  color: black;
  font-family: var(--main-text);
  font-size: 20px;
  text-align: center;
}

/* RESTAURANT RESULTS CONTAINER STYLES */
.food-select {
  width: max-content !important;
  height: auto;
  padding-top: 7px;
}

#restaurant-results-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

#restaurant {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 45vw;
  height: 85.29%;
  border-radius: var(--border-radius);
  margin: 4px;
  justify-content: center;
}

#restaurant button {
  border: none;
  padding: 5px;
  margin: 5px;
  height: fit-content;
  margin: 5px;
  justify-content: center;
  font-family: var(--main-text);
  color: var(--button);
  line-height: 1.5;
  background: transparent;
  font-size: 20px;
}

#results-container .card {
  display: flex;
  margin: 10px;
}

#restaurant-list {
  display: flex;
}

/* BUTTONS AND INPUTS */

.dropdown-content li > a {
  color: var(--dark);
  align-items: center;
}

/* MODALS */
.modal {
  border-radius: var(--border-radius);
  max-height: fit-content;
}

.modal-content {
  background-color: var(--button);
  font-weight: light;
}

.restaurant-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-trigger,
.food-select {
  width: 100%;
  display: flex;
}

/* TEXT STYLES */
a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* BROWSER-BASED STYLES */
::-webkit-input-placeholder:hover {
  background-color: transparent;
  color: transparent;
  display: none;
  opacity: 0;
}

input:focus::-webkit-input-placeholder {
  background-color: transparent;
  color: transparent;
  opacity: 0;
}

input:focus:-moz-placeholder {
  background-color: transparent;
  color: transparent;
  opacity: 0;
} /* FF 4-18 */

input:focus::-moz-placeholder {
  background-color: transparent;
  color: transparent;
  opacity: 0;
} /* FF 19+ */

input:focus:-ms-input-placeholder {
  background-color: transparent;
  color: transparent;
  opacity: 0;
} /* IE 10+ */

/* MOVIES */
#movie-card-con {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: space-around;
}

.movie-cardy {
  width: 40%;
  padding: 0, 10px;
}

.movie-cardy h3 {
  font-size: 1.5vw;
  margin: 0 10px;
}

.clear-btn {
  overflow: hidden;
}

.movie-poster-img {
  width: 100%;
  height: auto;
}

#movie-results-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: transparent;
}

#movie-results-container #search-form {
  display: flex;
  flex-flow: column;
}

#movie {
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#movie-search-input {
  width: fit-content;
  text-align: center;
  background: var(--button);
  border-radius: var(--border-radius);
}

/* FOOTER STYLES */
footer {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
}
footer a {
  color: var(--subtle-text);
  font-family: var(--main-text);
  font-size: 11px;
  text-decoration: none;
}

/* HIDE FUNCTION */
.hide {
  display: none;
}
