/* SITE STYLE PALETTE */
:root {
  --dark: #171219;
  --orange: #ff6624;
  --light-orange: #ffaa04;
  --beige: #fff8e9;
  --gray: #e2dbcd;
  --border-radius: 0.3rem;
  --main-text: "Open Sans", sans-serif;
  --header-text: "Shrikhand", cursive;
}

body {
  background: var(--orange);
  height: 100vh;
  transition: ease;
}

/* GRID */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* HEADER STYLES */
#check-us-out {
  margin: 5px;
}

#check-us-out a {
  color: black;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#header h1 {
  color: var(--beige);
  text-shadow: 2px 2px 3px var(--light-orange);
  font-family: var(--header-text);
  line-height: 0.8;
  text-transform: uppercase;
  font-size: 80px;
}

#header p {
  color: var(--beige);
  line-height: 0.5;
  font-family: var(--main-text);
  font-style: italic;
}

/* ZIPCODE */
#zipcode-ask {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

#zipcode-ask .search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20%;
  align-items: center;
  justify-content: center;
}

#zip-search-container {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-top: 10px;
}

#zip {
  text-align: center;
  background: var(--beige);
  border-radius: var(--border-radius);
}

#zip-list {
  margin: 0;
}

/* SECTION TITLE STYLES */
.section-header {
  color: var(--beige);
  font-family: var(--main-text);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* SEARCH PLACEHOLDER TEXT STYLES */
/* ::placeholder {
  color: var(--dark);
  font-weight: light;
  opacity: 0.5;
  text-shadow: 1px 1px 1px var(--orange);
} */

/* RESTAURANT RESULTS CONTAINER STYLES */
.food-select {
  width: max-content !important;
  height: auto;
  padding-top: 7px;
}

#restaurant-results-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

#restaurant {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 45vw;
  height: 85.29%;
  background: var(--beige);
  border-radius: var(--border-radius);
  margin: 4px;
  justify-content: center;
}

#restaurant button {
  border: none;
  padding: 5px;
  margin: 5px;
  height: fit-content;
  margin: 5px;
  justify-content: center;
  font-family: var(--main-text);
  color: var(--dark);
  line-height: 1.5;
}

#restaurant button {
  background: transparent;
}


#results-container .card {
  display: flex;
  margin: 10px;
}

#restaurant-list {
  display: flex;
}

/* BUTTONS AND INPUTS */
.btn {
  background-color: transparent;
  border-radius: var(--border-radius);
  margin: 5px;
}

.dropdown-content li > a {
  color: black;
  align-items: center;
}

/* MODALS */
.modal {
  border-radius: var(--border-radius);
  max-height: fit-content;
}

.modal-content {
  background-color: var(--gray);
  font-weight: light;
}

.restaurant-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-trigger,
.food-select {
  width: 100%;
  display: flex;
}

/* TEXT STYLES */
a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* BROWSER-BASED STYLES */
::-webkit-input-placeholder:hover {
  background-color: transparent;
  color: transparent;
  display: none;
  opacity: 0;
}

input:focus::-webkit-input-placeholder {
  background-color: transparent;
  color: transparent;
  opacity: 0;
}

input:focus:-moz-placeholder {
  background-color: transparent;
  color: transparent;
  opacity: 0;
} /* FF 4-18 */

input:focus::-moz-placeholder {
  background-color: transparent;
  color: transparent;
  opacity: 0;
} /* FF 19+ */

input:focus:-ms-input-placeholder {
  background-color: transparent;
  color: transparent;
  opacity: 0;
} /* IE 10+ */

/* MOVIES */
#movie-card-con {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: space-around;
}

.movie-cardy {
  width: 40%;
  padding: 0, 10px;
}

.movie-cardy h3 {
  font-size: 1.5vw;
  margin: 0 10px;
}

.clear-btn {
  overflow: hidden;
}

.movie-poster-img {
  width: 100%;
  height: auto;
}

#movie-results-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: transparent;
}

#movie-results-container #search-form {
  display: flex;
  flex-flow: column;
}

#movie {
  align-items: center;
  justify-content: center;
  background: var(--beige);
  border-radius: var(--border-radius);
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#movie-search-input {
  width: fit-content;
  text-align: center;
  background: var(--beige);
  border-radius: var(--border-radius);
}

/* FOOTER STYLES */
.page-footer {
  font-family: var(--main-text);
  border: none;
  background: transparent;
}

.page-footer .footer-copyright {
  background-color: transparent;
  color: black;
  font-family: var(--main-text);
  font-size: 11px;
  text-transform: uppercase;
}

/* HIDE FUNCTION */
.hide {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 575px) {
  .movie-select {
    justify-content: center;
  }

  .header-title {
    font-size: 50px;
  }

  span {
    width: 100%;
    display: inline-block;
  }
}

@media screen and (max-width: 360px) {
  .header-title {
    font-size: 45px;
  }
}
