/* SITE STYLE PALETTE */
:root {
  --background: #fff8ea;
  --accent: #d5f1e5;
  --button: #e2dbcd;
  --subtle-text: #868581;
  --hover: #fe5678;
  --border-radius: 0.3rem;
  --header-text: "Quicksand", sans-serif;
  --main-text: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  transition: ease;
}

h1 {
  font-family: var(--header-text);
  font-size: 45px;
}

p {
  font-family: var(--main-text);
}

#blob {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
}

.hero {
  width: 50vw;
  transform: rotate(30deg);
}

.zipcode {
  width: fit-content;
}
/* CROP IMAGES */
.crop {
  height: 160px;
  object-fit: cover;
  overflow: hidden;
}

/* UTILITIES */
.hide {
  display: none;
}
